{% load i18n static %}
<div class="ui-navigation-drawer" id="application-navigation" data-shell-nav>
  <div class="ui-navigation-drawer__head">
    <a class="ui-navigation-drawer__brand" href="{% url 'users:home' %}"
       hx-get="{% url 'users:home' %}" hx-target="#main-content"
       hx-swap="innerHTML show:top" hx-push-url="true"
       hx-indicator="#app-loading" hx-sync="#main-content:replace">
      <span class="ui-brand__asset" aria-hidden="true">
        <img class="ui-brand__logo" src="{% static 'img/jadwa-rms-logo.svg' %}"
             alt="" width="161" height="35">
      </span>
    </a>
    <button class="ui-icon-button ui-navigation-drawer__close" type="button" data-nav-toggle
            aria-controls="application-navigation" aria-expanded="false"
            aria-label="{% translate 'إغلاق التنقل' %}" title="{% translate 'إغلاق التنقل' %}">
      <svg width="20" height="20" viewBox="0 0 24 24" aria-hidden="true"><path d="m6 6 12 12M18 6 6 18"/></svg>
    </button>
  </div>

  {% include "layouts/_mobile_modules.html" %}
  {% include "layouts/_secondary_navigation_panel.html" %}
</div>
